@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: VazirFont;
  src: url(assets/fonts/Vazir-FD.ttf);
}
* {
  font-family: "VazirFont";
  outline: none;
  transition: 0.3s;
}